.footer{
    height: 150px;
    background-color: #566573;
    text-align: center;
    padding:10px 0;
    margin-top: 20px;
}

.footer h4{
    margin-bottom: 5px;
}

.footer h6{
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-icon{
    margin-top: 0;
    padding:0 10px;
}

.footer-icon:hover{
    color: white;
}